/** Mega Menu **/
.has-mega-menu {
  position: static !important;

  .dropdown-menu {
    margin: 0 auto;
    right: 0;
    left: 0;
    padding: 1rem 0;

    ul {
      li {
        .dropdown-item {
          &:active {
            background: unset !important;
            color: unset;
          }
          &:hover{
            //background: rgba(255, 128, 147, 0.9);
            //color: #f5f5f5;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            border-radius: 0.5rem;
          }

        }
      }
    }
  }
}
